.contact{
    padding-top:"40px";
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.contact-box{
    text-align: center;
    width: 30%;
}
.contact-item input,textarea{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.418);
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    outline: none;
    font-size: 20px;
}
.btn{
    text-align: right;
}

.btn button{
    padding: 10px 30px;
    color: #fff;
    background-color: #5C8AFF;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}