* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
li {
  list-style: none;
}

/* nav style  */
.nav {
  width: 100%;
  height: 100px;
  display: flex;
  border-bottom: 2px solid #044a7336;
  justify-content: space-between;
  padding: 40px 100px 40px 40px;
  align-items: center;
}
.logo{
  color: #044A73;
}


.nav-items ul {
  display: flex;
}

.nav-item {
  margin-right: 40px;
  border-bottom: 3px solid #fff;
  transition: 0.4s ease;
  cursor: pointer;
  color:#044A73;
  font-size: 20px;
}
.nav-item:hover{
  border-bottom: 3px solid #5C8AFF;
  color: #5C8AFF;
}
.burger{
  display: none;
  width: 30px;
}
.burger >div{
  padding: 3px;
  background-color: black;
  margin-bottom: 4px;
}
.burger >div:last-child{
  margin-bottom: 0px;
}
/* Socail app */
.social{
  position: fixed;
  right:0;
  top: 0;
  height: 100vh;
  width: 100px;
  background-color: #044A73;
}
.burger-social{
  height:100px ;
  padding: 40px 20px;
}
.burger-social >div{
  width: 50px;
  height: 4px;
  color: white;
  background-color: white;
  margin-bottom: 15px;
  float: right;
}
.social-item{
  display: flex;
  justify-content: space-around;
  height: 60px;
  color: white;
  /* padding: 40px 20px; */
}

@media screen and (max-width: 1024px) {
  .nav-item {
    margin-right: 30px;
  }
}

@media screen and (max-width: 968px) {
  .social {
    display: none;
  }
  .nav{
    padding: 40px 20px 40px 40px;
  }
  .burger{
    display: block;
  }
  .resNav6{
    display: none;
  }
}
@media screen and (max-width: 825px) {

  .resNav5{
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .resNav5{
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .resNav4{
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .resNav3{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav-item{
    display: none;
  }
  .burger{
    display: block;
  }
}